body {
  font-family: "Open Sans", sans-serif;
  color: #313030;
}


a {
  color: #205d70;
}

a:hover {
  color: #205d70;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 20px;
  bottom: 20px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 29px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background: #205d70;
  color: #ffffffd7;
  transition: all 0.5s;
}

.back-to-top i:hover {
  background: #306d80;
  color: #ffffffd7;
}

#header {
  height: 85px;
  transition: all 0.6s;
  z-index: 997;
  transition: all 0.6s;
}

#header.header-scrolled {
  background:  rgba(25, 28, 31, 0.8);
  height: 62px;
}

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu a {
  display: block;
  position: relative;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  transition: 0.4s;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #4a8091;
  text-decoration: none;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 25px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.4s;
  opacity: 0;
  visibility: hidden;
  border-radius: 20px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #3b434a;
  padding: 11px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #205d70;
  text-decoration: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

#igor {
  width: 100%;
  height: 100vh;
  background: url("../img/igor.jpg") top right;
  background-size: cover;
  position: relative;
}

#igor:before {
  content: "";
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#igor .igor-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

#igor h1 {
  margin: 0 0 10px 0;
  font-size: 60px;
  font-family: "Satisfy", serif;
  color: rgba(255, 255, 255, 0.966);
}

#igor h2 {
  color: rgba(255, 255, 255, 0.952);
  margin-bottom: 45px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#igor .btn-scroll {
  font-size: 48px;
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.671);
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

#igor h2 {
    text-align: center;
    margin-bottom: 28px;
  }

#igor .btn-scroll:hover {
  color: #205d70;
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

section {
  padding: 55px 0;
}

.section-bg {
  background-color: #fff;
}

.section-title {
  text-align: center;
  padding: 35px 0;
  position: relative;
}

.section-title h2 {
  font-size: 33px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 28px;
  color: #eaedf0;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}


.aboutme .content ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.aboutme .content ul li {
  padding-bottom: 9px;
}

.aboutme .content ul i {
  font-size: 20px;
  padding-right: 3px;
  color: #205d70;
}

.aboutme .content .count-box i {
  display: block;
  font-size: 39px;
  float: left;
}

.aboutme .content .count-box span {
  font-size: 35px;
  line-height: 30px;
  display: block;
  font-weight: 700;
  color: #3b434a;
  margin-left: 53px;
}

.aboutme .content .count-box p {
  padding: 19px 0 0 0;
  margin: 0 0 0 50px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #4f595c;
}

.aboutme .image {
  background: url("../img/me.jpg") center center;
  background-size: cover;
  min-height: 600px;
}

.aboutme .skills-content {
  margin-top: 45px;
}

.aboutme .skills-content .progress {
  height: 56px;
  display: block;
  background: none;
}

.aboutme .skills-content .progress .skill {
  padding: 0;
  margin: 0 0 8px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #3f4449;
}

.aboutme .skills-content .progress .skill .val {
  float: right;
  font-style: normal;
}

.aboutme .skills-content .progress-bar-wrap {
  background: #e6e8eb;
}

.aboutme .skills-content .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #205d70;
}

.history .history-title {
  font-size: 27px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #383a3b;
}

.history .history-item {
  padding: 0 0 20px 20px;
  margin-top: 45px;
  border-left: 3px solid #384d53;
  position: relative;
}

.history .history-item h4 {
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3f3f3fef;
  margin-bottom: 15px;
}

.history .history-item h5 {
  font-size: 15px;
  background: #edeeee;
  padding: 5px 20px;
  display: inline-block;
  font-weight: 600;
}

.history .history-item ul {
  padding-left: 20px;
}

.history .history-item ul li {
  padding-bottom: 10px;
}

.history .history-item {
  padding-bottom: 0px;
}

.portfolio .portfolio-info {
  margin: 0 0 30px 0;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 0 10px 10px 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  padding: 7px 7px;
  text-transform: uppercase;
  text-align: center;
  color: #444444e5;
  transition: all 0.6s ease-in-out;
  border: 2px solid #fff;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #3b6e7c;
  border-color: #205d70;
}

.review {
  padding: 100px 0;
  background: url("../img/review-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}


.review::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(23, 25, 26, 0.7);
}

.review .section-header {
  margin-bottom: 40px;
}

.review .review-item {
  text-align: center;
  color: #fff;
}

.review .review-item .review-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.274);
  margin: 0 auto;
}


.review .review-item h3 {
  font-size: 23px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}

.review .review-item h4 {
  font-size: 16px;
  color: rgb(240, 240, 240);
  margin: 0 0 15px 0;
}

.review .review-item .quote-icon-left, .review .review-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.397);
  font-size: 27px;
}

.review .review-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.review .review-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.review .review-item p {
  font-style: italic;
  margin: 0 auto 17px auto;
  color: rgba(240, 240, 240, 0.938);
}

.review .owl-nav, .review .owl-dots {
  margin-top: 7px;
  text-align: center;
}

.review .owl-dot {
  display: inline-block;
  margin: 0 7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.329) !important;
}

.review .owl-dot.active {
  background-color: #205d70 !important;
}

.price .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 25px rgba(214, 215, 216, 0.699);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.price h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 21px 15px;
  font-size: 15px;
  font-weight: 600;
  color: #f8f7f7;
  background: #3a859c;
}

.price h4 {
  font-size: 36px;
  color: #205d70;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
}

.price h4 sup {
  font-size: 20px;
  top: -12px;
  left: -3px;
}

.price h4 span {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 300;
}

.price ul {
  padding: 0;
  list-style: none;
  color: #494949;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
}

.price ul li {
  padding-bottom: 18px;
}

.contacts .row {
position: relative;
left: 17%
}

.contacts .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.699);
  box-sizing: center;
  padding: 21px 0 30px 0;
}

.contacts .info-box i.bx {
  display: inline-block;
  line-height: 1;
  margin: 0 9px;
  transition: 0.6s;
  font-size: 27px;
  color: #c1a598;
  border-radius: 50%;
  padding: 15px;
  background: #f4fcea;
}

.contacts .info-box i.bx:hover {
  color: rgb(255, 255, 255);
  border-color: #c1a598;
  background: #c1a598;
}

.contacts .info-box h3 {
  font-size: 23px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contacts .info-box p {
  padding: 0;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 0;
}

.contacts .social-links {
  margin: 0 20px 0 20px;
  display: flex;
  justify-content: center;
}

.contacts .social-links a {
  font-size: 23px;
  display: inline-block;
  color: #205d70;
  line-height: 1;
  margin: 0 9px;
  transition: 0.6s;
  padding: 13px;
  border-radius: 60px;
  border: 1px solid #fff;
}

.contacts .social-links a:hover {
  color: rgb(255, 255, 255);
  border-color: #205d70;
  background: #205d70;
}

#footer {
  background: url("../img/footer-bg.jpg") top center no-repeat;
  background-size: cover;
  color: rgb(255, 250, 250);
  font-size: 14px;
  text-align: center;
  padding: 85px 0;
  position: relative;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.699);
}

#footer .container {
  position: relative;
}

#footer h3 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Satisfy", serif;
  padding: 0;
  margin: 0 0 14px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 39px 0;
}

#footer .social-links {
  margin: 0 0 39px 0;
}

#footer .social-links a {
  font-size: 21px;
  display: inline-block;
  background: #205d70;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 5px;
  border-radius: 50%;
  text-align: center;
  width: 38px;
  height: 38px;
  transition: 0.6s;
}

#footer .social-links a:hover {
  background: #1b4957;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .designed {
  font-size: 15px;
}
