
html{
  scroll-behavior: smooth;
  transition: 0.5s;
}

body {
  
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #313030;
}

a {
  color: #205d70;
}

a:hover {
  color: #205d70;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}


/* Button */

.gotopbtn{
  position: fixed;
  font-size: 29px;
  width: 45px;
  height: 45px;
  bottom: 20px;
  right: 20px;
  border-radius: 50px;
  background: #205d70;
  color: #ffffffd7;
  transition: 0.9s;
  text-decoration: none;
  text-align: center;
}

.gotopbtn i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 29px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background: #205d70;
  color: #ffffffd7;
  transition: all 0.5s;
}

.gotopbtn i:hover {
  background: #306d80;
  color: #ffffffd7;
}

/* Header */

.header {
  width: 100%;
  height: 85px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.6s;
  z-index: 997;
}

.header.fixed {
  position: fixed;
  background-color: rgba(25, 28, 31, 0.8);
  height: 62px;
}

.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
}

.header.fixed .header__inner {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav {
  display: flex;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__link {
  margin: 0 20px;  
  padding: 10px 0;
  transition: 0.4s;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  opacity: .75;
}

.nav__link:hover {
  opacity: 1;
  color: #4a8091;
}


/* Igor */

#igor {
  width: 100%;
  height: 100vh;
  background: url("../img/igor.jpg");
  background-size: cover;
  position: relative;
}

#igor:before {
  content: "";
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}


#igor .igor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 15px;
}

#igor h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 500;
  font-family: "Satisfy", serif;
  color: rgba(255, 255, 255, 0.966);
}

#igor h2 {
  margin-bottom: 150px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.952);
  text-align: center;
  }

  /* Section title */

section {
  padding: 55px 0;
}

.section-bg {
  background-color: #fff;
}

.section-title {
  text-align: center;
  padding: 15px 0;
  position: relative;
}

.section-title h2 {
  font-size: 33px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3b434a;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 38px;
  color: #eaedf0;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title p {
  position: relative;
  z-index: 1;
}

/* About me */

.middle{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  width: auto;
  }

  .counting-sec{
    padding: 40px 0;
    width: 100%;
  }

  .inner-width{
    max-width: 1200px;
    margin: auto;
    display: flex;
  }

  .col{
    flex: 1;
    text-align: center;
    padding: 0 25px;
  }

  .col i{
    font-size: 50px;
  }

  .col span {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
  }

  .num{
    font-size: 40px;
    margin: 20px 0;
    line-height: 30px;
    font-weight: 700;
  }
  
/* Portfolio */

.img-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.one-img {
  padding: 0 15px 10px;
}

img:hover {
  opacity: .5;
  transition: .9s;
}

/* Review */

.review {
  padding: 100px 0;
  background: url("../img/review-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.review::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(23, 25, 26, 0.7);
}

.review .section-header {
  margin-bottom: 40px;
}

.review .review-item {
  text-align: center;
  color: #fff;
}

.review .review-item .review-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.274);
  margin: 0 auto;
}

.review .review-item h3 {
  font-size: 23px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}

.review .review-item h4 {
  font-size: 16px;
  color: rgb(240, 240, 240);
  margin: 0 0 15px 0;
}

.review .review-item p {
  font-style: italic;
  line-height: 1.5;
  margin: 0 300px;
  color: rgba(240, 240, 240, 0.938);
}

.review .owl-nav, .review .owl-dots {
  margin-top: 7px;
  text-align: center;
}

.review .owl-dot {
  display: inline-block;
  margin: 0 7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.329) !important;
}

.review .owl-dot.active {
  background-color: #205d70 !important;
}

/* Price */

.wrapperr{
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.wrapperr i {
  font-size: 24px;
  opacity: 0.7;
}

.wrapperr .item {
  width: 220px;
  height: auto;
  margin: 18px;
  background: #fff;
  padding: 30px 20px 65px;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(214, 215, 216, 0.699);
  position: relative;
}

.wrapperr  h3{
  font-weight: 400;
  margin: -30px -20px 20px -20px;
  padding: 21px 19px;
  font-size: 15px;
  font-weight: 600;
  color: #f8f7f7;
  background: #3a859c;
  border-radius: 3px;
}

.wrapperr .item h4 {
  font-size: 36px;
  color: #205d70;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
}


.wrapperr h4 span {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 300;
}


.wrapperr .item .info p{
  font-size: 14px;
  color: #494949;
  line-height: 20px;
  margin-bottom: 5px;
}

/* Contacts */

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 50vh;
}

.contacts .info-box {
  background-color: #205d700c;
  box-shadow: 0 0 20px #205d704d;
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 170px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts .info-box i {
  display: inline-block;
  line-height: 1;
  margin: 0 9px;
  font-size: 27px;
  color: rgba(255, 255, 255, 0.897);
  border-radius: 50%;
  padding: 15px;
  background: #205d70;
}

.contacts .info-box i:hover {
  color: rgb(255, 255, 255);
  transition: 0.7s;
  background-color: #205d700c;
  color: #205d70
}

.contacts .info-box h3 {
  font-size: 18px;
  color: #494949;
  font-weight: 700;
  margin: 20px 0 0 0;
}

.contacts .info-box p {
  padding: 0;
  font-size: 16px;
  margin-bottom: 0;
}

/* Footer */

#footer {
  background: url("../img/footer-bg.jpg") top center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 85px 0;
  position: relative;
  margin-bottom: -60px;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.699);
}

#footer h3 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Satisfy", serif;
  padding: 0;
  margin: 0 0 14px 0;
}

#footer p {
  position: relative;
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 39px 0;
}

#footer .social-links{
  position: relative;
  margin: 0 0 39px 0;
}

#footer .social-links i {
  display: inline-block;
  line-height: 1;
  margin: 0 5px;
  font-size: 21px;
  color: #fff;
  border-radius: 50%;
  padding: 12px;
  background: #1b4957;
}

#footer .social-links i:hover {
  position: relative;
  background: #205d70;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  position: relative;
  margin: 0 0 5px 0;
}

#footer .designed {
  position: relative;
  font-size: 15px;
}

/* Nav burger */

.burger {
  display: none;
  padding: 9px 2px;
  background: none;
  border: 0;
  cursor: pointer;
}

.burger__item {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
  font-size: 0;
  color: transparent;
  position: relative;
}

.burger__item:before,
.burger__item:after {
  content: "";
  height: 100%;
  background-color: #fff;
  position: absolute;
  right: 0;
  z-index: 1;
}

.burger__item:before {
  width: 30px;
  top: -8px;
}

.burger__item::after {
  width: 26px;
  bottom: -8px;
}

/* Mobile */

@media (max-width: 1300px) {
  .aboutme img {
    width: 100%;
      }

      .section-title p {
        font-size: 13px;
      }

      .img-area {
        width: 100%;
      }

      .wrapperr .item {
        width: 180px;
        height: auto;
      }
    }

@media (max-width: 991px) {

      body {
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .section-title span {
        font-size: 43px;
      }

      .section-title h2 {
        font-size: 31px;
      }

      .section-title p {
        text-align: center;
        font-size: 13px;
      }

      .gotopbtn{
       font-size: 25px;
      }

      .middle .inner-width .col {
        width: 100%;
      }

      .review {
        height: 60vh;
        padding: 50px 0;
      }
        
      .review .owl-dot {
       width: 10px;
       height: 10px;
      }

      .review .review-item p {
        font-style: italic;
        line-height: 1.5;
        margin: 0 100px;
      }

      .wrapperr .item {
        width: 100px;
        height: auto;
        margin: 0 7px;
      }

      .contacts .info-box {
        width: calc(33% - 100px);
      }

      .contacts .info-box i {
        font-size: 20px;
      }
            
      .contacts .info-box h3 {
        font-size: 17px;
      }
      
      .contacts .info-box p {
        font-size: 13px;
      }
    }

@media (max-width: 792px) {
  
    .nav {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      text-align: right;
      background-color: rgba(0, 0, 0, 0.288);
      top: 0%;
      right: 0;
  }

  .nav.show {
      display: flex;
  }

  .nav__link {
      padding: 9px 15px;
  }

  .burger {
      display: flex;
      position: fixed;
  }
  
  #igor .igor-container img {
    width: 100%;
  }

  .section-title span {
    font-size: 43px;
  }

  .section-title h2 {
    font-size: 31px;
  }

  .wrapperr .item {
    width: 170px;
    height: auto;
    margin: 0 15px;
  }

  .contacts .info-box i {
    font-size: 24px;
  }
        
}

@media (max-width: 669px) {
  .middle {
    width: 50%;
    text-align: center;
  }
   .col{
   padding: 0 15px;
 }

 .col i{
   font-size: 37px;
 }

 .col span {
   font-size: 20px;
 }

 .num{
   font-size: 30px;
 }
}

@media (max-width: 556px) {
  .counting-sec{
    padding: 10px 0;
    width: 35%;
    }
 
  .col{
    padding: 0 15px;
  }
  .contacts .info-box {
      width: calc(33% - 60px);
     }
  }

@media (max-width: 456px) {

  .counting-sec{
    width: 30%;
    }
 }

 @media (max-width: 387px) {

  .counting-sec{
    width: 26%;
    }

    .review {
      height: 60vh;
      padding: 50px 0;
    }
      
    .review .owl-dot {
     width: 10px;
     height: 10px;
    }

    .review .review-item p {
      font-size: 14px;
      font-style: italic;
      line-height: 1.5;
      margin: 0 50px;
    }

    .wrapperr .item {
      width: 150px;
      height: auto;
      margin: 0 15px;
    }
  
    

 @media (max-width: 339px) {
 #igor h1 {
   text-align: center;
 }

  .counting-sec{
    width: 20%;
    }
 }